    
    .gradient-custom-2{
        background-image:linear-gradient(rgb(16, 5, 4), rgba(248, 247, 245, 0)),
        url('../../assets/panneau.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    } 