<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div style="display: flex; flex-wrap: wrap;" >
<div style="margin-left: 80px;">
    <canvas id="temperatureChart" width="800" height="400"></canvas>

    <p style="text-align: center; margin-top: 30px; ">TEMPERATURE DHT11</p>
</div>

<div>
    <canvas id="humiditeChart" width="800" height="400"></canvas>
    <p style="text-align: center; margin-top: 30px;">HUMIDITE DHT11</p>

</div>
<div style="margin-left: 80px;">
    <canvas id="ThermocoupleChart" width="800" height="400"></canvas>
    <p style="text-align: center; margin-top: 30px;">THERMOCOUPLE EN °C</p>

</div>
<div >
    <canvas id="Thermocouple_F_Chart" width="800" height="400"></canvas>
    <p style="text-align: center; margin-top: 30px;">THERMOCOUPLE EN °F</p>

</div>
</div>
